<beans>
    <bean id="mapper" name="" class="wyxmttk.Mapper" init-method="init" destroy-method="destroy">
    </bean>
    <bean id="service" name="" class="wyxmttk.Service" scope="prototype">
        <property name="mapper" ref="mapper"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="myBeanPostProcessor" name="" class="wyxmttk.MyBeanPostProcessor"/>
    <bean id="myBeanFactoryPostProcessor" name="" class="wyxmttk.MyBeanFactoryPostProcessor"/>
    <bean id="userDao" class="wyxmttk.UserDaoBeanFactory"/>
</beans>