<beans>
    <bean id="mapper" name="" class="wyxmttk.Mapper" init-method="init" destroy-method="destroy">
    </bean>
    <bean id="service" name="" class="wyxmttk.Service">
        <property name="mapper" ref="mapper">
        </property>
    </bean>
    <bean id="myBeanPostProcessor" name="" class="wyxmttk.MyBeanPostProcessor"/>
    <bean id="myBeanFactoryPostProcessor" name="" class="wyxmttk.MyBeanFactoryPostProcessor"/>
</beans>